{% extends "base.html" %}

<!-- Custom styles for this template -->
{% block cus_style %}
body {
padding-top: 56px;
}
@media (min-width: 992px) {
body {
padding-top: 56px;
}
}
}

<link href="{{url_for('static', filename='resources/css/thumbnail-gallery.css')}}" rel="stylesheet">
{% endblock %}

{% block nav_home %}nav-link{% endblock %}

{% block content %}
<!-- Page Content -->
<br>
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Gallery</h1>
    <ul class="list-unstyled">
        Click <a href="{{url_for('new_article')}}">here</a> to upload more images
    </ul>
    <div class="row text-center text-xs-left">
        {% for article in articles %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="caption">
                    <a href="{{url_for('full_article', article_id=article.article_id)}}" class="d-block mb-8 h-5">
                        <img class="img-fluid img-thumbnail" src="{{ article.cover_pic }}" alt="">
                    </a>
                    {{ article.title }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ECE1779-A2 2017</p>
    </div>
    <!-- /.container -->
</footer>

{% endblock %}
<!-- /.container -->
